.about-us {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    margin-bottom: 180px;
}

.about-us-foto {
    height: 918px;
    position: relative;
}

.about-us-social{
    width: 115px;
    height: 115px;
    background-color: #5c615c;
    position: absolute;
    bottom: -4%;
    right: -11px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.about-us-social{
    background: url(../img/telegram.svg);
    right: -6px;
 }

.about-us-social:nth-child(3){
    bottom: 12%;
    background: url(../img/instagram.svg);
}

.about-us-social:nth-child(2){
    bottom: 28%;
    background: url(../img/vk.svg);
}

.about-us-experience{
    margin-left: 150px;
}

.about-us-social>a{
    color: #1e220e;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 30px;
}

.about-us-social:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: #fff;
}

.about-us-social:hover>a{
    color: #fff;
    transition: 0.1s;
}

.about-us-who-we-are{
    background-color: #ebe1dd;
    color: #222b21;
    width: 800px;
    font-size: 35px;
    box-shadow: 15px 15px 0px 2px #9da6ae;
    padding: 45px 45px;
    margin-bottom: 70px;
    height: 510px;
}

.about-us-who-we-are>h3{
    text-align: center;
    margin-bottom: 50px;
}

.about-us-who-we-are>span{
    display: block;
    text-align: end;
    font-size: 35px;
    font-family: 'Fira Sans', sans-serif;
}

.about-us-who-we-are>span>strong{
    text-transform: uppercase;
}

.about-us-experience-item{
    background-color: #d7e0ca;
    width: 560px;
    text-align: center;
    padding: 25px;
    font-size: 33px;
    margin-bottom: 30px;
}

.about-us-experience-item:nth-child(2){
    transform: translateX(100px);
}

.about-us-experience-item:nth-child(3){
    transform: translateX(200px);
}

.mobil-block{
    display: none;
}

@media (max-width: 1366px)
{
    .about-us{
        padding: 0;
        margin: 50px 0 0 0;
    }

    .about-us-foto{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .about-us-foto>img{
        width: 268px;
    }

    .about-us-experience{
        margin: 0 0 0 40px;
    }

    .about-us-who-we-are{
        width: 360px;
        font-size: 0.5rem;
        height: 210px;
        box-sizing: border-box;
        padding: 10px 20px;
        margin-bottom: 30px;
        line-height: 1.4;
        
    }

    .about-us-who-we-are>h3{
        margin: 0;
        font-size: 22px;
    }

    .about-us-who-we-are>span{
        font-size: 15px;
        margin-top: 15px;
    }

    .about-us-social{
        width: 45px;
        height: 45px;
        font-size: 20px;
        border-radius: 15px;
        bottom: -2%;
    }

    .about-us-social:nth-child(3){
        bottom: 13%;
    }
    
    .about-us-social:nth-child(2){
        bottom: 28%;
    }

    .about-us-experience-items {
        padding: 0 0 0 20px;
    }

    .about-us-experience-item{
        width: 200px;
        font-size: 0.4rem;
        margin: 0;
        padding: 9px;
        margin-bottom: 14px;
    }

    .about-us-experience-item:nth-child(2) {
        transform: translateX(60px);
    }

    .about-us-experience-item:nth-child(3) {
        transform: translateX(120px);
    }

    .information{
        margin-top: 50px;
    }

    .information-block{
        width: 350px;
        box-sizing: border-box;
        padding: 20px 10px;
        height: 150px;
    }

    .information-block span{
        line-height: 1.3;
        padding-right: 20px;
    }

    .catalog-button .button{
        margin: 20px 0 53px 0;
    }
}

@media (max-width: 768px)
{
    .information{
        display: none;
    }

    .about-us-who-we-are{
        box-shadow: 9px 9px 0px 2px #9da6ae;
        width: 80%;
        font-size: 0.4rem;
        padding: 10px 2vw;
    }

    .about-us-who-we-are>h3{
        font-size: 18px;
    }

    .about-us-who-we-are>span{
        font-size: 3.2vw;
    }

    .about-us-experience .about-us-who-we-are{
        display: none;
    }

    .mobil-block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .about-us{
        margin: 0;
    }
    
    .about-us-foto{
        width: 80%;
        padding-left: 30px;
        flex-direction: row;
        transform: translateX(0);
        align-items: center;
    }

    .about-us-foto>img{
        width: 220px;
    }

    .about-us-social{
        position: static;
        width: auto;
        height: auto;
        padding: 0.4vw;
        margin-left: 20px;
        border-radius: 12px;
        transform: translateY(100px);
    }

    .about-us-social:nth-child(n+2){
        margin-left: 5px;
    }
    
    .about-us-experience{
        width: 10%;
        margin: 0;
        padding-top: 17px;
    }

    .about-us-experience-items{
        transform: translateX(-60%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .about-us-experience-item{
        font-size: 12px;
    }

    .about-us-experience-item:nth-child(2){
        transform: translateX(-0);
        width: 170px;
    }

    .about-us-experience-item:nth-child(3){
        transform: translateX(-0);
        width: 140px;
    }
}