.about-us {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    margin-bottom: 180px;
}

.about-us-foto {
    height: 918px;
    position: relative;
}

.about-us-social{
    width: 115px;
    height: 115px;
    background-color: #5c615c;
    position: absolute;
    bottom: -5%;
    right: -25px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.about-us-social:nth-child(3){
    bottom: 10%;
}

.about-us-social:nth-child(2){
    bottom: 25%;
}

.about-us-experience{
    margin-left: 150px;
}

.about-us-social>a{
    color: #1e220e;
}

.about-us-social:hover{
    background-color: #306b34;
    transition: 0.2s;
    cursor: pointer;
}

.about-us-social:hover>a{
    color: #fff;
    transition: 0.1s;
}

.about-us-who-we-are{
    background-color: #ebe1dd;
    color: #222b21;
    width: 800px;
    font-size: 35px;
    box-shadow: 15px 15px 0px 2px #9da6ae;
    padding: 45px 45px;
    margin-bottom: 70px;
    height: 510px;
}

.about-us-who-we-are>h3{
    text-align: center;
    margin-bottom: 50px;
}

.about-us-who-we-are>span{
    display: block;
    text-align: end;
    font-size: 35px;
    font-family: 'Fira Sans', sans-serif;
}

.about-us-who-we-are>span>strong{
    text-transform: uppercase;
}

.about-us-experience-item{
    background-color: #d7e0ca;
    width: 560px;
    text-align: center;
    padding: 25px;
    font-size: 33px;
    margin-bottom: 30px;
}

.about-us-experience-item:nth-child(2){
    transform: translateX(100px);
}

.about-us-experience-item:nth-child(3){
    transform: translateX(200px);
}

.mobil-block{
    display: none;
}

@media (max-width: 1366px)
{
    .about-us{
        padding: 0;
        margin: 50px 0 0 0;
    }

    .about-us-foto{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .about-us-foto>img{
        width: 268px;
    }

    .about-us-experience{
        margin: 0 0 0 40px;
    }

    .about-us-who-we-are{
        width: 347px;
        font-size: 0.5rem;
        height: 200px;
        padding: 25px 25px;
        margin-bottom: 30px;
    }

    .about-us-who-we-are>h3{
        margin: 0;
    }

    .about-us-who-we-are>span{
        font-size: 0.4rem;
        margin-top: 25px;
    }

    .about-us-social{
        width: 45px;
        height: 45px;
        font-size: 20px;
        border-radius: 15px;
    }

    .about-us-experience-items {
        padding: 0 0 0 20px;
    }

    .about-us-experience-item{
        width: 200px;
        font-size: 0.4rem;
        margin: 0;
        padding: 9px;
        margin-bottom: 14px;
    }

    .about-us-experience-item:nth-child(2) {
        transform: translateX(60px);
    }

    .about-us-experience-item:nth-child(3) {
        transform: translateX(120px);
    }

    .information{
        margin-top: 50px;
    }

    .information-block{
        width: 41%;
    }

    .catalog-button .button{
        margin: 20px 0 53px 0;
    }
}

@media (max-width: 768px)
{
    .information{
        display: none;
    }

    .about-us-experience .about-us-who-we-are{
        display: none;
    }

    .mobil-block{
        display: block;
    }

    .about-us{
        margin: 0;
    }
    
    .about-us-foto{
        flex-direction: row;
        transform: translateX(110px);
    }

    .about-us-foto>img{
        width: 220px;
    }

    .about-us-social{
        position: static;
    }
    
    .about-us-experience-items{
        transform: translateX(-60%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .about-us-experience-item:nth-child(2){
        transform: translateX(-0);
        width: 85%;
    }

    .about-us-experience-item:nth-child(3){
        transform: translateX(-0);
        width: 66%;
    }
}