/*Стили шапки*/

header{
    background-color: #6b4f45;
    height: 200px;
    display: flex;
}

.logo{
    margin: 0 100px 0 100px;
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

/*Логотип из кнопки*/
.logo_btn{
    background: url(../img/logo.png) no-repeat;
    width: 300px;
    height: 150px;
    border: none;
    transform: translateY(-12px);
    transition: 0.2s;
}
.logo_btn:hover{
    background: url(../img/logo.gif) no-repeat;
}

.nav_block{
    display: flex;
}

.nav_block>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

.nav_block>ul li{
    list-style: none;
    margin-right: 75px;
}

.nav_block>ul li a{
    color: #f8eeef;
    text-decoration: none;
}

.nav_block>ul li a:hover {
    font-size: 47px;
    color: #d7e0ca;
    transition: 0.2s;
}

.bag{
    width: 3rem;
    height: 3rem;
    border: none;
    transition: 0.2s;
    background: url(../img/bag.png) no-repeat center center;
}

.bag:hover{
    background: url(../img/bag-hover.png) no-repeat center center;
}