/*Секция для страницы в разработке*/

.main{
    height: 1080px;
    background: url("../img/bg.png") no-repeat;
    background-size: cover; 
    color: #384340;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 0;
}

.main_block{
    display: inline-block;
    width: 850px;
    height: 300px;
    background-color: #ebe1dd;
    margin: 220px 95px 0 0;
    text-align: right;
    font-size: 34px;
    padding: 65px 50px 40px 50px;
    line-height: 40px;
    letter-spacing: 5px;
    box-shadow: 15px 15px 0px 2px #9da6ae;
}

.main_block>h4{
    text-align: center;
    font-size: 55px;
    margin-bottom: 95px;
}

.main_block>span{
    font-family: 'Fira Sans', sans-serif;
    font-size: 45px;
}

.main_button>button{
    width: 530px;
    font-size: 35px;
    height: 105px;
    margin: 220px 265px 0 0;
}

.main_button>button::before{
    width: 515px;
    height: 90px;
}

.main_button>button::after{
    width: 515px;
    height: 90px;
}

@media (max-width: 1366px)
{
    .main{
        background-size: 100%;
        height: 430px;
        padding: 0 45px 0 0;
    }

    .main_block{
        width: 344px;
        font-size: 16px;
        padding: 20px;
        height: 157px;
        margin: 75px 0 0 0 ;
        line-height: 1.5;
        letter-spacing: 0;
        box-shadow: 9px 6px 0px 2px #9da6ae;
    }

    .main_block>h4{
        font-size: 0.5rem;
        margin: 0;
    }

    .main_block>span{
        font-size: 0.4rem;
        margin-top: 20px;
        display: block;
    }

    .main_button .button{
        width: 200px;
        height: 40px;
        margin-top: 47px;
        margin-right: 60px;
    }
}

@media (max-width: 768px)
{
    .main{
        width: 100%;
        padding: 0;
        margin: 0;
        background: url(../img/bg_mobil_1.png) no-repeat;
        background-position-x: center;
        background-size: 72%;
        background-position-y: 45px;
    }

    .main_block{
        background-color: transparent;
        color: #f8eeef;
        box-shadow: none;
        display: block;
        padding: 0;
        width: 100%;
        margin-top: 20px;
    }

    .main_block>span{
        display: none;
    }

    body{
        background-image: none;
        background-color: black;
    }

    .main_button{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
    }
}