/*Блок в наличии*/
.products_catalog>h1{
    text-align: center;
    font-size: 70px;
    color: #384340;
    margin-bottom: 145px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 50px 0 50px;
}

.product-item{
    max-width: 605px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    box-shadow: rgb(157 166 174 / 42%) 15px 15px 0px 2px;
}

@media (max-width: 1366px)
{
    .products_catalog>h1 {
        font-size: 0.7rem;
        margin-bottom: 40px;
    }

    .products {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .product-item {
        max-width: 220px;
        box-shadow: rgb(157 166 174 / 42%) 5px 8px 0px 2px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px)
{
    .products_catalog>h1 {
        font-size: 0.7rem;
        margin-bottom: 40px;
    }
    
    .products {
        padding: 0 10px 0 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product-item {
        max-width: 200px;
        box-shadow: rgb(157 166 174 / 42%) 5px 8px 0px 2px;
        margin-bottom: 20px;
    }
}

.product-item>img{
    margin: 105px 90px 0 80px;
}

.product-item:nth-child(1){
    margin-bottom: 135px;
}

.product-item:nth-child(odd){
    margin-right: 170px;
    margin-left: 250px;
}

.product-item:nth-child(2){
    transform: translateY(340px);
}

.product-name {
    background-color: #ebe1dd;
    padding: 20px 35px;
    display: inline-block;
    width: 49%;
    transform: translateY(-40%);
    text-align: center;
}

.product-description {
    font-size: 27px;
    color: #222b21;
    margin-bottom: 65px;
    font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 1366px)
{
    
    .product-item>img {
        margin: 20px 0 0 0;
        width: 80%;
    }

    .product-item:nth-child(odd) {
        margin-right: 75px;
        margin-left: 0;
    }

    .product-item:nth-child(1) {
        margin-bottom: 20px;
    }

    .product-item:nth-child(2) {
        transform: translateY(150px);
    }

    .product-item:nth-child(3) {
        transform: translateX(-15px);
    }

    .product-name {
        padding: 4% 5%;
        width: 54%;
        transform: translateY(-40%);
        font-size: 0.3rem;
    }

    .product-description {
        font-size: 0.3rem;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px)
{
    .product-item>img {
        margin: 20px 0 0 0;
        width: 80%;
    }
    
    .product-item:nth-child(odd) {
        margin-right: 0;
        margin-left: 0;
    }
    
    .product-item:nth-child(1) {
        margin-bottom: 20px;
    }
    
    .product-item:nth-child(2) {
        transform: translateY(0);
    }
    
    .product-item:nth-child(3) {
        transform: translateX(0);
    }
    
    .product-name {
        padding: 4% 5%;
        width: 54%;
        transform: translateY(-40%);
        font-size: 0.3rem;
    }
    
    .product-description {
        display: none;
    }
}

.product-item>.button{
    width: 350px;
    font-size: 35px;
    height: 73px;
    margin-bottom: 85px;
}

.product-item>button::before{ 
    width: 100%;
    height: 100%;
    top: -15px;
    left: -15px;
}

.product-item>button::after{
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
}

.calfication {
    background-color: #ebe1dd;
    box-shadow: 15px 15px 0px 2px #9da6ae;
    display: flex;
    text-align: end;
    height: 275px;
    font-family: 'Fira Sans', sans-serif;
    width: 480px;
    font-size: 45px;
    box-sizing: border-box;
    color: #384340;
    justify-content: center;
    align-items: center;
    transform: translateY(200%);
}

@media (max-width: 1366px)
{
    .product-item>.button {
        width: 65%;
        font-size: 0.3rem;
        height: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .product-item>button::before {
        top: -10px;
        left: -10px;
    }

    .product-item>button::after {
        top: 3px;
        left: 3px;
    }

    .calfication{
        height: 110px;
        width: 190px;
        font-size: 0.5rem;
    }  
}

@media (max-width: 768px)
{
    .product-item>.button {
        width: 65%;
        font-size: 0.3rem;
        height: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .product-item>button::before {
        top: -10px;
        left: -10px;
    }
    
    .product-item>button::after {
        top: 3px;
        left: 3px;
    }
    
    .calfication{
        display: none;
    }
}