@media screen and (max-width:768px){
/*Базовые настройки*/
body{
    max-width: 450px;
    font-size: 21px;
    background-size: 100%;
}

header {
    height: 100px;
}

h1{
    font-size: 0.7rem;
}

h1, h3, h4, p {
    margin: 0;
}

/*Настройки хедера*/
.burger {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    display: block;
    position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%; 
    left: 50%;
    margin-left: -15px;
    margin-top: -1px;
    width: 30px;
    height: 3px;
    background-color: #fceff0;
}
.menu-btn span::before,
.menu-btn span::after {
        content: '';
        display: block;
        transition: 0.2s;
}
.menu-btn span::before {
    transform: translateY(-8px);
}
.menu-btn span::after {
    transform: translateY(8px);
}

.menu-btn_active span{
    height: 0;
    transition: 0.1s;
}

.menu-btn_active span:before {
    transform: rotate(-45deg);
}
.menu-btn_active span:after {
    transform: rotate(45deg);
}

.mobil_menu {
    display: block;
    opacity: 0;
    margin-top: 0;
    padding: 0;
    font-size: 0.3rem;
    transition: 0.3s;
    background-color: #fceff0;
}

.mobil_menu_active{
    opacity: 1;
    padding: 10px 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.mobil_menu>ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.mobil_menu>ul li a{
    text-decoration: none;
}


.mobil_menu>ul li a:hover{
    font-size: 0.4rem;
    color: #4c605a;
}


.nav_block{
    width: 33%;
    justify-content: center;
    align-items: center;
}

.nav_block>ul {
    padding: 0;
}

.nav_block>ul li {
    margin: 0;
}

.nav_block>ul li:nth-child(-n+4){
    display: none;
}

.bag {
    width: 1rem;
    height: 1rem;
    background-size: 100%;
}

.bag:hover {
    background-size: 100%;
}

.logo {
    margin: 0;
    width: 33%;
}

.logo_btn {
    
    background: url(../img/logo.png) center center no-repeat;
    height: 100%;
    background-size: 100%;
}

.logo_btn:hover {
    background: url(../img/logo.gif) center center no-repeat;
    background-size: 100%;
}

/*Настройки слайдера*/
.slider_wrapper {
    padding: 0;
    height: 300px;
    margin: 0;
}

.prev{
    display: none !important; 
}

.next{
    display: none !important; 
}

.slider_block{
    height: 269px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.slick-dotted.slick-slider {
    margin-top: 10px;
}

.slick-slide img {
    width: 173px;
    max-width: 94%;
    margin: 0;
}

.slider_block_foto, .slider_block_description {
    margin-top: 10px;
}

.slider_block_description_name {
    width: 80%;
    text-align: center;
    font-size: 0.3rem;
    height: 18%;
}

.slider_block_description_cause>ul {
    margin-top: 13px;
}

.slider_block_description_cause>ul li {
    list-style: none;
    font-size: 14px;
}

.button {
    font-size: 0.3rem;
}

.button::before {
    border: 3px solid #d7e0ca;
}

.button::after {
    border: 3px solid #536454;
}

.slider_block_description_button>button {
    width: 109px;
    font-size: 13px;
    height: 39px;
    margin: 0;
}

.slider_block_description_button>button::before {
    top: -10px;
    left: -10px;
}

.slider_block_description_button>button::after {
    top: 0px;
    left: 0px;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-dots li {
    width: 15px;
    height: 15px;
}

/*Блок Что такое стабилизированный мох*/
.information {
    margin-top: 0;
    height: 200px;
}

.information-block {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 8px 6px 0px 1px #9da6ae;
}

.information-block>h1 {
    font-size: 46%;
    margin: 0;
}

.information-block span {
    margin-top: 10px;
    font-size: 33%;
}

/*Каталог*/
.catalog>h1 {
    font-size: 0.7rem;
    margin-bottom: 40px;
}

.catalog-item {
    width: 85%;
    height: 80px;
    margin-bottom: 18px;
    font-size: 0.5rem;
}

.catalog-item span{
    margin-left: 30px;
}

.catalog-item-cicle {
    height: 55px;
    width: 55px;
    left: 25px;
    border: 3px solid #536454;
}

.catalog-item-cicle .small {
    height: 30px;
    width: 30px;
}

.catalog-item:nth-child(-n+2) .small {
    top: -5px;
    left: -15px;
}

.catalog-item:nth-child(n+3) .small {
    left: -15px;
}

.catalog-item:nth-child(n+5) .small {
    left: -15px;
}

.catalog-item:nth-child(n+5) {
    margin-bottom: 18px;
}

.products_catalog>h1 {
    font-size: 0.7rem;
    margin-bottom: 40px;
}

.advantages {
    display: none;
}

.calfication{
    display: none;
}

.products {
    padding: 0 10px 0 10px;
    justify-content: center;
}

.product-item {
    max-width: 200px;
    box-shadow: rgb(157 166 174 / 42%) 5px 8px 0px 2px;
    margin-bottom: 20px;
}

.product-item:nth-child(odd) {
    margin-right: 0;
    margin-left: 0;
}

.product-item:nth-child(1) {
    margin-bottom: 20px;
}

.product-item:nth-child(2) {
    transform: translateY(0);
}

.product-item>img {
    margin: 20px 0 0 0;
    width: 80%;
}

.product-name {
    padding: 4% 5%;
    width: 54%;
    transform: translateY(-40%);
    font-size: 0.3rem;
}

.product-description {
    display: none;
}

.product-item>.button {
    width: 65%;
    font-size: 0.3rem;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-item>button::before {
    top: -10px;
    left: -10px;
}

.product-item>button::after {
    top: 3px;
    left: 3px;
}

/*Секция с кнопкой*/
.catalog-button>button {
    margin: 0;
    padding: 20px 160px;
}

.catalog-button>button {
    margin: 40px 40px;
    padding: 2% 10%;
}

.catalog-button>button::before {
    top: -10px;
    left: -10px;
}

.catalog-button>button::after {
    top: 3px;
    left: 3px;
}

/*Футер*/
footer {
    height: 300px;
}

.footer_block {
    padding: 0;
    display: flex;
}

.footer-contacts {
    width: 80%;
}

.footer-contacts-adress-item:nth-child(-n+2){
    display: none;
}

.footer-contacts-adress-item:nth-child(3)>p {
    font-size: 0.5rem;
}

.footer-contacts-adress-item>p {
    margin-top: 20px;
    margin-bottom: 0;
}

.footer-contacts-adress-item>img {
    width: 230px;
}

.footer-contacts-phone span:nth-child(2) {
    font-size: 0.4rem;
}

.footer-contacts-phone span {
    font-size: 10px;
}

.footer-contacts-phone {
    font-size: 0.5rem;
}

.footer-social-item {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-bottom: 25px;
}
}