/*Верхний блок*/
.paintings{
    height: 970px;
    background: url(../img/painting_bg.png) no-repeat center;
    background-size: cover;
    background-color: white;
    display: flex;
    justify-content: center;
}

.paintings-block {
    transform: translateX(50%);
    padding-top: 130px;
}

.paintings-block>h1{
    background-color: #ebe1dd;
    width: 800px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.paintings-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paintings-type-item {
    width: 750px;
    height: 115px;
    background-color: #d7e0ca;
    margin-bottom: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: relative;
}

.paintings-item-cicle {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 7px solid #536454;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 65px;
}

.paintings-item-cicle.small {
    position: absolute;
    height: 50px;
    width: 50px;
}

.paintings-type-item:first-child .small {
    position: absolute;
    top: -15px;
    left: -30px;
}

.paintings-type-item:nth-child(2) .small{
    position: absolute;
    top: 10%;
    left: -30px;
}

.paintings-type-item:nth-child(3) .small{
    position: absolute;
    top: 40%;
    left: -30px;
}

/*Анимация кружков при наведении*/
.paintings-type-item:hover{
    cursor: pointer;
}

.paintings-type-item:hover .small{
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: 0.3s;
}

/*Блок с кнопкой и информацией*/
.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 180px;
}

.information>button{
    width: 3rem;
    height: 3rem;
    border: none;
    background: url(../img/arrow_down.png) no-repeat center center;
}

.information-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Секция комбинированные картины*/
.product-item:nth-child(4) {
    transform: translateY(-200px);
}

/*Секция картины из цветов*/
.painting-calfication {
    background-color: #ebe1dd;
    box-shadow: -15px -15px 0px 2px #9da6ae;
    display: flex;
    text-align: start;
    height: 275px;
    width: 480px;
    color: #384340;
    margin-right: 170px;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
}

.second{
    margin-top: 345px;
}

.third{
    margin-top: 270px;
}

@media (max-width: 1366px)
{
    .paintings{
        height: 390px;
    }

    .paintings-block{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .paintings-block>h1{
        width: 341px;
        height: auto;
        padding: 20px 0;
    }

    .paintings-type-item{
        margin-bottom: 20px;
        width: 275px;
        box-sizing: border-box;
        font-size: 0.4rem;
        height: auto;
        padding: 10px 0px 10px 20px;
    }
    
    .paintings-type{
        align-items: center;
    }

    .paintings-type-item span{
        margin-left: 10px;
    }

    .product-item{
        max-width: 255px;
    }

    .product-item:nth-child(3){
        transform: translateX(-30px);
    }

    .paintings-item-cicle{
        height: 35px;
        width: 35px;
        top: 1px;
        border: 3px solid #536454;
        left: 15px;
    }

    .paintings-item-cicle.small{
        width: 20px;
        height: 20px;
    }

    .paintings-type-item:first-child .small{
        top: -3px;
        left: -10px;
    }

    .paintings-type-item:nth-child(2) .small{
        left: -13px;
    }

    .paintings-type-item:nth-child(3) .small{
        top: 33%;
        left: -13px;
    }

    .paintings-type-item:hover .small{
        cursor: pointer;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    .information{
        margin: 0;
        height: auto;
        margin-top: 10px;
        margin-bottom: 65px;
    }

    .information>button{
        width: 30px;
        height: 15px;
        background-size: 100%;
    }

    .information-block{
        margin-top: 40px;
    }

    .information-block span{
        text-align: center;
    }

    .products_catalog>h1{
        font-size: 0.6rem;
        margin: 95px 0 40px 0;
    }

    .second{
        margin: 0;
    }

    .painting-calfication{
        height: 130px;
        width: 206px;
        font-size: 0.4rem;
        margin: 60px 0 0 0;
        transform: translateX(-150px);
        box-shadow: -7px -7px 0px 2px #9da6ae;
    }

    .product-item:nth-child(2){
        transform: translateY(150px);
    }

    .third{
        margin: 90px 0 90px 0;
    }

    .third .products{
        justify-content: flex-start;
        margin: 0 auto;
        width: 75%;
        padding: 0;
    }

    .product-item:nth-child(4){
        transform: translateY(-50px);
    }

    .third .product-item:nth-child(3) {
        transform: translateX(0px);
        margin: 50px 65px 0 0;
    }

    .catalog-button{
        margin-bottom: 55px;
    }
    
}

@media (max-width: 768px)
{
 
    .paintings{
        height: 333px;
        align-items: center;
    }

    .paintings-block {
        transform: translateX(30%);
        padding-top: 0;
    }

    .paintings-block>h1{
        width: 185px;
        height: 50px;
        margin: 0;
        padding: 10px 0;
        font-size: 16px;
    }

    .paintings-type{
        display: none;
    }

    .information{
        margin: 0;
        height: fit-content;
    }

    .information-block{
        display: none;
    }

    .information>button{
        width: 30px;
        height: 20px;
        background-size: 100%;
        margin: 5px 0 40px 0;
    }

    .first>h1{
        font-size: 0.5rem;
        margin-bottom: 24px;
        margin-top: 0;
    }

    .second>h1{
        font-size: 0.5rem;
        margin: 60px 0 30px 0;
    }

    .third>h1{
        font-size: 0.5rem;
        margin: 65px 0 20px 0;
    }

    .painting-calfication{
        display: none;
    }

    .second{
        margin: 0;
    }

    .third{
        margin: 0;
    }

    .first .product-item:nth-child(2){
        transform: translateY(0);
    }
    
    .first .product-item:nth-child(3){
        transform: translateX(0);
    }

    .first .product-item:nth-child(4){
        transform: translateY(0);
    }

    .second .product-item:nth-child(2){
        transform: translateY(0);
    }

    .third .product-item:nth-child(3){
        margin: 0 0 20px 0;
    }

    .third .product-item:nth-child(4){
        transform: translateY(0);
    }
}